name: Daily Economy Scan (Satellite + News)

on:
  schedule:
    - cron: '0 2 * * *' # 7:30 AM IST
  workflow_dispatch:

jobs:
  run-intelligence:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # <--- Upgraded to handle yfinance

      - name: Install Libraries
        # Added 'GoogleNews' and 'smtplib' is built-in
        run: |
          pip install earthengine-api geemap matplotlib pillow google-auth requests GoogleNews

      - name: Install Libraries
        # Added 'fpdf' to the list
        run: |
          pip install earthengine-api geemap matplotlib pillow google-auth requests GoogleNews fpdf

      - name: Install Libraries
        run: |
          pip install earthengine-api geemap matplotlib pillow google-auth requests GoogleNews fpdf yfinance

      - name: Run Intelligence Script
        env:
          EE_KEY: ${{ secrets.EE_KEY }}
          MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
          MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
        run: python main.py
